body {
	padding: 0;
  margin: 0;
}

html, body, #map {
	height: 100%;
	width: 100%;
}

/*estils timeslider*/
.leaflet-bottom.leaflet-left{
	width: 100%;
}
.leaflet-control-container .leaflet-timeline-controls{
	box-sizing: border-box;
	width: 100%;
	margin: 0;
	margin-bottom: 15px;
}

/*estils icona dinamica*/
.animated-icon{
  width: 20px;
  height: 20px;
  /*background-color: rgba(255,255,255,0.5);*/
	background-color: blue;
  border-radius: 50%;
  box-shadow: 0px 0px 4px white;
  transition: all 1s;
  -webkit-animation: fadein 1s; /* Safari, Chrome and Opera > 12.1 */
  -moz-animation: fadein 1s; /* Firefox < 16 */
  -ms-animation: fadein 1s; /* Internet Explorer */
  -o-animation: fadein 1s; /* Opera < 12.1 */
  animation: fadein 1s;
}

.legend {
	  border-radius: 10px;
		background-color: white;
		padding:10px;
		text-align: left;
		line-height:18px;
    line-height: 18px;
    color: #555;
}
.legend i {
    width: 18px;
    height: 18px;
    float: left;
    margin-right: 5px;
    /*opacity: 0.7;*/
}

.time-text{
	color: white;
}

.subtitol{
	font-family: "Helvetica Neue", Helvetica, Arial, sans-serif;
	font-size: 0.8em;
}

#info{
	font-family: "Helvetica Neue", Helvetica, Arial, sans-serif;
	color:white;
	border-radius: 0px;
	position: fixed;
	position:absolute;
	margin-left:70%;
	margin-top:3%;
	top: 0;
	left: 0;
	bottom: 0;
	width: 22vw;
	height: 19vw;
	padding: 1em;

	background-color: #d10a0b;
	opacity: 0.8;
}

.info{
	font-family: "Helvetica Neue", Helvetica, Arial, sans-serif;
	color:white;
	text-align: left;;
	font-weight: bold;
	padding: 4%;
	background-color: #d10a0b;
	opacity: 0.8;
	z-index: 1000;
}

.leaflet-control-custom{
	font-family: "Helvetica Neue", Helvetica, Arial, sans-serif;
	color:white;
	text-align: center;
	font-weight: bold;
	padding-top: 1%;
	cursor: pointer;
}
